<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商城高并发抢购-抢购结果页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >-->
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" >-->
    <!--<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>-->
    <script src="static/jquery/jquery-3.3.1.min.js" ></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" >
    <script  src="static/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 align="center">抢购成功-请您<span style="color: red">登录邮箱</span>验证相关链接信息,并请在<span style="color: red">1小时内</span>
                完成订单的支付!</h1>
        </div>
    </div>
</div>
</body>

</html>