<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ureport</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >-->
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" >-->
    <!--<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>-->
    <script src="static/jquery/jquery-3.3.1.min.js" ></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" >
    <script  src="static/js/bootstrap.min.js" type="text/javascript"></script>

    <!--<style>-->
        <!--* {-->
            <!--padding: 0;-->
            <!--margin: 0;-->
        <!--}-->

        <!--html, body {-->
            <!--height: 100%;-->
            <!--width: 100%;-->
            <!--overflow: hidden;-->
        <!--}-->

        <!--iframe {-->
            <!--border: 0;-->
        <!--}-->
    <!--</style>-->

</head>
<body>
<table border=0>
    <tr border="0">
        <td border="0"> 第一张图</td>
        <td border="0"> 第二张图</td>

    </tr>


</table>


</iframe>
</body>

</html>