<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商城高并发抢购-商品详情页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >-->
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" >-->
    <!--<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>-->
    <script src="jquery/jquery-3.3.1.min.js" ></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" >
    <script  src="static/js/bootstrap.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="css/detail.css" type="text/css">
    <script type="text/javascript">
        function executeKill() {

            $.ajax({
                type: "POST",
                url: "http://localhost/base/error",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(getJsonData()),
                dataType: "json",
                success: function(res){
                    if (res.code==0) {
                        //alert(res.msg);
                        window.location.href="${ctx}/kill/execute/success"
                    }else{
                        //alert(res.msg);
                        window.location.href="${ctx}/kill/execute/fail"
                    }
                },
                error: function (message) {
                    alert("提交数据失败！");
                    return;
                }
            });
        }


        function getJsonData() {
            var killId=$("#killId").val();
            /*var data = {
                "killId":killId,
                "userId":1
            };*/
            var data = {
                "killId":killId
            };
            return data;
        }
    </script>


</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <input id="killId" value="${detail.id}" type="hidden"/>
        <div class="panel-heading">
            <h1>商品名称</h1><span th:text="${detail.itemName}"></span>
        </div>
        <div class="panel-body">
            <h2 class="text-danger">剩余数量：</h2><span th:text="${detail.total}"></span>
        </div>
        <div class="panel-body">
            <h2 class="text-danger">开始时间：</h2> <span th:text="${#dates.format(detail.startTime,'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
        <div class="panel-body">
            <h2 class="text-danger">结束时间：</h2><span th:text="${#dates.format(detail.endTime,'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
    </div>

    <td>

    <td th:if="${detail.canKill == 1}">
      <button class="btn btn-info" style="font-size: 20px" onclick="executeKill()" >抢购</button>
    </td>
    <td th:if="${detail.canKill == 0}">
        <a class="btn btn-info" style="font-size: 20px">哈哈~商品已抢购完毕或者不在抢购时间段哦!</a>
</div>

</body>



</html>